h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 150px;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
}

.board-wrapper {
  display: flex;
  justify-content: center;
}